/* LOGO */
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

/* SEARCH */
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1; // default = 1, mettendo 1 si inverte l'ordine
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    // Ereditano i global value(header se presente)
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transform: all .2s;
    margin-right: -3.25rem;

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder { // -webkit: Funziona solo in Chrome e Safari
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button { // Essendo fratelli si può fare questa selezione
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); // Cambia il colore a una immagine SVG
  }
}


/* USER NAVIGATION */
.user-nav {
  // Sovrascrive align-items: center
  align-self: stretch;
  // Flex item sono anche flex container
  display: flex;
  align-items: center;

  & > * { // seleziono tutti i fratelli adiacenti a user-nav
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover { // come prima ma solo all'hover
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative; // il parent va impostato su position relative
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #ffffff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

/* SIDE NAVIGATION */
.side-nav {
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      margin: 0;
    }

    &__item {
      position: relative;

      &:not(:last-child) {
        margin-bottom: .5rem;

        @media only screen and (max-width: $bp-medium) {
          margin: 0;
        }
      }

      @media only screen and (max-width: $bp-medium) {
       flex: 1;
      }
    }

    &__item::before {
      content: ""; // per visualizzarlo nel browser
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      //transform-origin: bottom; // si specifica dove inizia la trasformazione
      // Si impostano diverse proprietà in una volta sola
      transition: transform .2s,
                  /* Si aspettano .4 sec per aumentare la with che dura .2 sec
                  la velocità è in cubic-bezier(1,0,0,1) */
                  width .4s cubic-bezier(1,0,0,1) .2s,
                  background-color .1s;
    }
    // Mantiene lo stato attivo
    &__item:hover::before,
    &__item--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &__item:active::before {
      background-color: var(--color-primary-light);
    }

    &__link:link,
    &__link:visited {
      color: var(--color-grey-light-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
      position: relative;
      z-index: 10; // con z-index occore specificare prima position

      display: flex;
      align-items: center;

      // ATTENZIONE: Quando si hanno due o più media query in sequenza l'ultima sovrascrive le altre
      @media only screen and (max-width: $bp-medium) {
        justify-content: center;
        padding: 2rem;
      }

      @media only screen and (max-width: $bp-small) {
        flex-direction: column;
        padding: 1.5rem .5rem;
      }
    }

    &__icon {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor; // usa il colore corrente dell'elemento o del padre

      @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: .7rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
}

/* LEGAL TEXT */
.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

/* GALLERY */
.gallery {
  display: flex;

  &__photo {
    width: 100%;
  }
}

/* HOTEL OVERVIEW */
.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    /* In Flexbox mettendo margin auto si occupa tutto l'elemento a destra
    calcolando il margine in automatico */
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__rating {
    background-color: var(--color-primary);
    color: #ffffff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch; // sovrascrive l'allineamento per questo elemento occupando tutta la dimensione possibile

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) {
      font-size: .5rem;
    }
  }
}

/* BUTTON INLINE */
.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor; // equivale a color-primary
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s;

  & span {
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite; // applica l'animazione all'infinito
  }
}

// Animazione per il bottone
@keyframes pulsate {
  0% {
    transform: scale(1); // dimensione normale
    box-shadow: none;
  }

  50% {
    transform: scale(1.05); // dimensione ingrandita
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
  }

  100% {
    transform: scale(1); // dimensione normale
    box-shadow: none;
  }
}

/* PARAGRAPH */
.paragraph:not(:last-of-type) { // viene applicato allo stesso tipo di elementi
  margin-bottom: 2rem;
}

/* LIST */
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap; // gli elementi vanno a capo

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before { // inseriamo una immagine prima di ogni item
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;
    // Vecchi browser(non si può cambiare colore dell'immagine)
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    // Nuovi browser: si imposta il colore l'immagine e la dimensione del masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      background-image: none;
    }
  }
}

/* RECOMMEND */
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  &__count {
    margin-right: auto; // le immagini vengono automaticamente allineate a destra
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;

    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

/* REVIEWS */
.review {
  background-color: #ffffff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 10; // funziona solo se si imposta la position
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &_rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    content: "\201C"; // Codifica ISO
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}

/* CALL TO ACTION */
.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }

  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

/* BUTTON */
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #ffffff;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * { // tutti i discendenti
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all .2s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
      top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}