.container {
    max-width: 120rem;
    margin: 8rem auto; // centra il container nel body
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
    // Strategia Desktop First
    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #ffffff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap; // va a capo se non c'è più spazio nel container
        align-content: space-between;
        height: 11rem;
    }
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
       flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%; /* no grow no shrink basis 18% */
    display: flex;
    // Cambia il main axis a top-bottom anzichè left-right
    flex-direction: column;
    // La side bar è composta da lista di icone e il copyright, con space-between, il secondo va in fondo
    justify-content: space-between;
}

.hotel-view {
    background-color: #ffffff;
    flex: 1; /* può crescere fino ad occupare l'intera dimensione */
}

.detail {
    font-size: 1.4rem; // Mettendolo qui viene ereditato
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    // ATTENZIONE: Quando si hanno due o più media query in sequenza l'ultima sovrascrive le altre
    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
       flex-direction: column;
    }
}

.description {
    background-color: #ffffff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    // ATTENZIONE: Quando si hanno due o più media query in sequenza l'ultima sovrascrive le altre
    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    flex: 1; // occupa intera dimensione rimanente

    display: flex;
    flex-direction: column;
    align-items: center;
}
